
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700&display=swap');

body {
  font-family: 'Figtree', sans-serif;
  font-family: 'Inter', sans-serif;
}


:root {
  --variable-collection-black: rgba(82, 86, 94, 1);
  --variable-collection-blue: rgba(37, 99, 235, 1);
  --variable-collection-teal: rgba(12, 185, 193, 1);
  --color-gv: #F85A3F;
  --color-gte: #F48924;
  --color-gta: #0CB9C1;
}

